# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Generator Jar Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Generator Version'
        required: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 15.0.1
      uses: actions/setup-java@v1
      with:
        java-version: 15.0.1

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Create Jar
      run: ./gradlew shadowJar -PgeneratorVersion=${{ github.event.inputs.version }}

    - name: Create Draft Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.event.inputs.version }}
        release_name: NeroxisGen_${{ github.event.inputs.version }}
        draft: true
        prerelease: false

    - name: Upload Jar
      id: upload-jar
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/libs/NeroxisGen_${{ github.event.inputs.version }}.jar
        asset_name: NeroxisGen_${{ github.event.inputs.version }}.jar
        asset_content_type: application/zip
